---
# NOTE(auniyal): Ensure container config directories exist
# during minor-update for nvme cleaner. bug: OSPRH-21712
- name: Ensure container config directories exist
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: "directory"
    setype: "container_file_t"
    mode: "{{ item.mode }}"
  loop:
    - {"path": "{{ edpm_nova_config_dest }}", "mode": "0755"}
    - {"path": "/var/lib/openstack/config/containers", "mode": "0755"}
    - {"path": "{{ edpm_nova_nvme_cleaner_config_dest }}", "mode": "0755", "when_enabled": true}
  when: not (item.when_enabled | default(false)) or edpm_nova_enable_nvme_cleaner
  tags:
    - update
    - nova

- name: Render newly introduced nova config files
  tags:
    - update
    - nova
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ edpm_nova_config_dest }}/{{ item.dest }}"
    setype: "container_file_t"
    mode: "0644"
  loop:
    - {"src": "config.json.j2", "dest": "config.json"}
    - {"src": "nova_statedir_ownership.py", "dest": "nova_statedir_ownership.py"}
    - {"src": "run-on-host", "dest": "run-on-host"}
  notify:
    - Restart nova

- name: Run LVM bootstrap tasks
  tags:
    - update
    - nova
  ansible.builtin.include_role:
    name: osp.edpm.edpm_bootstrap
    tasks_from: lvm.yml
  vars:
    # Don't import existing LVM devices in case there are "rogue" ones associated
    # with an attached cinder volume.
    edpm_bootstrap_lvm_import_devices: false

- name: Clean nova podman images
  when:
    - edpm_update_enable_containers_update is defined
    - edpm_update_enable_containers_update
    - edpm_update_enable_containers_update_cleanup is defined
    - edpm_update_enable_containers_update_cleanup
  tags:
    - nova
    - update
  become: true
  block:
    - name: Clean nova podman images
      tags: podman_purge
      # NOTE: This copies logic of edpm_podman/tasks/purge.yml
      ansible.builtin.shell: |
        set -o pipefail
        podman image list --format '{% raw %}{{ .Repository }}:{{ .Tag }}{% endraw %}' | \
        eval $( basename -a "{{ edpm_nova_compute_image }}" | awk -F: '
        {
            if (NR == 1) {
                imgs = "-e " $1
                tags = "-e " $2
            } else {
                # For subsequent lines, append with a space
                imgs = imgs " -e " $1
                tags = tags " -e " $2
            }
        }
        END {
            # Print the accumulated images, the separator flag, and the accumulated tags
            print "grep " imgs " -v " tags
        }' ) | xargs --no-run-if-empty -I % sh -c '{ podman rmi %; sleep 1; }'
      register: clean_podman_image
      changed_when: clean_podman_image.rc == 0
      args:
        executable: /bin/bash
  rescue:
    - name: Image cleanup failed
      ansible.builtin.fail:
        msg: "Failed to clean up  nova_compute contianer images. Please do manual cleanup."
      failed_when: false
